/* Global */
:root {
  /* Color */
  --color-white: #fff;
  --color-light-white: #eee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #000;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-dark-gray: #4d4d4d;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weigth */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between; /* 중심축 정렬 */
  align-items: center;
  background-color: transparent;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 8px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  display: flex;
}

.navbar__logo__icon {
  width: 45px;
  height: 45px;;
  margin-right: 5px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid white;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
  position: absolute; /* 기존 자리에서 빠져나와 position이 되는 것 */
  top: 25px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */

#home {
  background: url(imgs/background02.png) center/cover no-repeat; /* center에 두고, cover 반응형으로 no-repeat 반복x*/
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

.home__avatar {
  width: 250px;
  height: 250px;
  border: 2px solid var(--color-light-white);
  border-radius: 50%;
}

.home__title, .home__descrition {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  padding: 8px 12px;
  margin: 24px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* flex를 사용하는대신에 .major__icon에 margin: auto를 준다 */
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  margin: auto;
  margin-bottom: 16px;
  color: var(--color-blue);
}

.major__title, .major__description {
  color: var(--color-dark-gray);
}

.major__description {
  font-size: var(--font-small);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.jobs {
  display: flex;
  align-items: center;
}

.job__description p {
  margin: 0 16px;
  text-align: left;
  color: var(--color-light-gray);
}

.jobs__name {
  font-size: var(--font-small);
}

.jobs__period {
  font-size: var(--font-micro);
}

.jobs__logo {
  width: 70px;
}

/* Skills */

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-gray);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-gray);
  justify-content: left;
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-gray);
}

.skill__value {
  /* width: 90%; */ /* width는 css에서 정의하는 것이 아님, html태그에서 정의, 이런 data들은 JSON에서 동적으로 받아온 데이터를 html코드로 변환해서 자동적으로 생성 할 것이다. */
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-gray);
  margin-top: 0;
}

.tools, .etc {
  padding: 20px;
}

/* Work */

.work__categories {
  margin: 40px;
}

.categories__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.categories__btn.active,
.categories__btn:hover {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
}

.categories__btn.active .category__count,
.categories__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);  
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
  position: relative; /* 평소에는 보이지 않다가 마우스가 올라가거나 active가 있으면 밑으로 내려가게 할 것이다. */
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.work__projects {
  display: flex;
  flex-wrap: wrap; /* item들이 꽉 차면 자동으로 줄바꿈되도록 설정 */
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2px;
  width: 220px;
  height: 280px;
  /* background-color: var(--color-light-white); */
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  transform: translateY(0px);
  opacity: 0.8;
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3::after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
}

/* Testimonials */

#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  background-color: var(--color-white);
  padding: 20px;
}

.testimonial__speech-bubble p {
  color: var(--color-light-gray);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

/* Contack */

#contact {
  background-color: var(--color-pink);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__link {
  font-size: var(--font-medium);
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__link i:hover {
  transition: all var(--animation-duration) ease;
  transform: rotate(-20deg) scale(1.1);
  color: var(--color-yellow);
}

/* Scroll */

.arrow-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-pink);
  border-radius: 50%;
  /* display: none; */ /* display같은 경우는 완전히 없어졌다가 나타나는 것이라 애니메이션이 되지 않음! */
  opacity: 0;
  pointer-events: none; /* 클릭이 안 되게 만들기 */
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  /* display: block; */
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 40px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    width: 100%;
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}

