/* Global */
:root {
  /* Color */
  --color-white: #fff;
  --color-light-white: #eee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #000;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-dark-gray: #4d4d4d;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weigth */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between; /* 중심축 정렬 */
  align-items: center;
  background-color: pink;
  color: var(--color-white);
  position: sticky;
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  display: flex;
}

.navbar__logo__icon {
  width: 45px;
  height: 45px;;
  margin-right: 5px;
}

.navbar__menu {
  display: flex;  
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-light-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
}

/* Home */

#home {
  background: url(imgs/background02.png) center/cover no-repeat; /* center에 두고, cover 반응형으로 no-repeat 반복x*/
  padding: 40px;
  text-align: center;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

.home__avatar {
  width: 250px;
  height: 250px;
  border: 2px solid var(--color-light-white);
  border-radius: 50%;
}

.home__title, .home__descrition {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  padding: 8px 12px;
  margin: 24px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* flex를 사용하는대신에 .major__icon에 margin: auto를 준다 */
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  margin: auto;
  margin-bottom: 16px;
  color: var(--color-blue);
}

.major__title, .major__description {
  color: var(--color-dark-gray);
}

.major__description {
  font-size: var(--font-small);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.jobs {
  display: flex;
  align-items: center;
}

.job__description p {
  margin: 0 16px;
  text-align: left;
  color: var(--color-light-gray);
}

.jobs__name {
  font-size: var(--font-small);
}

.jobs__period {
  font-size: var(--font-micro);
}

.jobs__logo {
  width: 70px;
}

/* Skills */

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-gray);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-gray);
  justify-content: left;
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-gray);
}

.skill__value {
  /* width: 90%; */ /* width는 css에서 정의하는 것이 아님, html태그에서 정의, 이런 data들은 JSON에서 동적으로 받아온 데이터를 html코드로 변환해서 자동적으로 생성 할 것이다. */
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-gray);
  margin-top: 0;
}

.tools, .etc {
  padding: 20px;
}

.project__img {
  width: 200px;
}

.testimonials__img {
  width: 100px;
}

.contact__link {
  color: var(--color-blue);
}