* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar__logo__icon {
  width: 25px;
  height: 25px;;
}

.jobs__logo {
  width: 70px;

}

.project__img {
  width: 200px;
}

.testimonials__img {
  width: 100px;
}