/* Global */
:root {
  /* Color */
  --color-white: #fff;
  --color-light-white: #eee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #000;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-dark-gray: #4d4d4d;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weigth */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between; /* 중심축 정렬 */
  align-items: center;
  background-color: pink;
  color: var(--color-white);
  position: sticky;
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  display: flex;
}

.navbar__logo__icon {
  width: 45px;
  height: 45px;;
  margin-right: 5px;
}

.navbar__menu {
  display: flex;  
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-light-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
}
